[submodule "nestjs-nextjs-starter"]
	path = nestjs-nextjs-starter
	url = https://github.com/mst-ghi/nestjs-nextjs-starter
[submodule "any-english-frontend"]
	path = any-english-frontend
	url = https://github.com/mst-ghi/any-english-frontend
[submodule "simple-conf-frontend"]
	path = simple-conf-frontend
	url = https://github.com/mst-ghi/simple-conf-frontend.git
[submodule "gym-planner-dashboard"]
	path = gym-planner-dashboard
	url = https://github.com/mst-ghi/gym-planner-dashboard
